@model CodingCraft_02.Models.CategoriaProduto

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Categoria)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Categoria)
    @Html.ValidationMessageFor(model => model.Categoria)
</div>

